<html lang="en">
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0/angular-material.min.css">
   <title>nzbBuffy Settings</title>
   <style>
      body { font-size: 1.3em; }
      .container { max-width: 600px; margin: auto; }
   </style>
</head>
<body ng-app='app' ng-controller="ctrl" ng-cloak>
<div class="container">
   <md-content>
      <h3>Settings</h3>
      <hr/>
      <p>
         <md-radio-group ng-model="settings.client">
            <md-radio-button value="sabnzbd">SabNZBd</md-radio-button>
            <md-radio-button value="nzbget">NZBGet</md-radio-button>
         </md-radio-group>
      </p>
      <hr/>
      <br/>
      <p>
         <md-input-container class="md-block">
            <label>URL</label>
            <input ng-model="settings.url" required ng-change="saveSettings()">
         </md-input-container>
      </p>

      <p>
         <md-input-container class="md-block">
            <label><span ng-if="settings.client === 'nzbget'">User:Password</span><span ng-if="settings.client !== 'nzbget'">API Key</label>
            <input ng-model="settings.apikey" required ng-change="saveSettings()">
         </md-input-container>
      </p>

      <p>
         <md-input-container class="md-block">
            <label>Usenet sites</label>
            <textarea ng-model="settings.sites" ng-list="&#10;" ng-trim="false"></textarea>
         </md-input-container>
      </p>
      <md-button class="md-raised md-primary" ng-click="saveSettings();">save</md-button>
      <md-button class="md-raised md-primary" ng-click="sendMessage({fnc:'test'})">test connection</md-button>
      <md-button class="md-raised md-warn" ng-click="clearStorage()">storage leeren</md-button>


   </md-content>

   <pre>{{ settings |json }}</pre>
   <hr/>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-aria.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-messages.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.0/angular-material.min.js"></script>
<script src="js/options.js"></script>
</body>
</html>
